<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ex01</title>
<!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
 <button onclick="ex02Fn()">ex02 함수 호출</button>
</body>
<script>
    const ex02Fn = () => {
        $.ajax({
            // 요청 방식: post
            // 요청주소: /ex02
            type: "post",
            url: "/ex02",
            success: function(res) {
                console.log("성공", res);
            },
            error: function() {
                console.log("실패");
            }
        })
    }
</script>
</html>
